.password {
    border: 2px solid var(--txt-color);
    border-radius: 15px;
    background-color: var(--bg-color);
    color: var(--txt-color);
}

.password .inpt {
    color: var(--txt-color);
    border-radius: 7px;
    border: none;
    background-color: var(--bg-color);
    border: solid var(--txt-color) 2px;
    text-align: center;
}
.hello{
    height: 85.3vh;
    background-color: var(--bg-color);
}
.password .icon {
    color: var(--txt-color);
    font-size: 25px;
}

.password .icon1 {
    color: var(--txt-color);
    font-size: 30px;
}

.password .rangebox {
    background-color: var(--bg-color);
    color: var(--txt-color);
}
.rangebox input{
    accent-color: var(--txt-color);
}
.password .btnbtn {
    border: none;
    background-color: var(--txt-color);
    color: var(--bg-color);
    font-size: 20px;
    border-radius: 10px;
    font-weight: 400;
}

.checkboxes {
    transition: all 0.1s ease-in-out !important;
}
.checkboxes input{
    accent-color: yellow;
}
.errormsg {
    color: var(--txt-color);
    padding-bottom: 5px;
}